grp by and merge fucntion

In [24]:
import pandas as pd

In [25]:
df=pd.read_csv("C:\\Users\\RAJA\\Downloads\\sample2.csv")
df

    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
0          1       A     CS     56.0       57.0   58.0      59.0  01-01-2001
1          2       A    ECE     23.0       24.0   25.0      26.0  02-01-2001
2          3       B   MECH     89.0       25.0   26.0      27.0  03-01-2001
3          4       C   MECH     45.0       26.0   27.0      28.0  04-01-2001
4          5       A     CS     23.0       27.0   28.0      29.0  05-01-2001
5          6       A    ECE     90.0        NaN   29.0      30.0  06-01-2001
6          7       B     CS     12.0       13.0   14.0      15.0  07-01-2001
7          8       C    NaN     78.0       14.0   15.0      16.0  08-01-2001
8          9       A    ECE      NaN       15.0   16.0      17.0  09-01-2001
9         10       A     CS     45.0       16.0   17.0      18.0  10-01-2001
10        11       B    ECE      NaN       17.0   18.0      19.0  11-01-2001
11        12       C     CS     88.0        NaN   19.0      20.0  12-01-2001
12        13       A     CS     22.0       23.0   24.0      25.0  13-01-2001
13        14       A     CS     90.0        NaN    NaN      42.0  14-01-2001
14        15       B    ECE      NaN       43.0   43.0      43.0  15-01-2001
15        16       C    NaN     44.0       44.0   44.0      44.0  16-01-2001
16        17       A   MECH     45.0       45.0   45.0      45.0  17-01-2001
17        18       A   MECH     46.0       46.0   46.0      46.0  18-01-2001
18        19       B    ECE     47.0       47.0   47.0      47.0  19-01-2001
19        20       C   MECH     48.0       48.0   48.0      48.0  20-01-2001
20        21       A   MECH     49.0       49.0   49.0      49.0  21-01-2001
21        22       A   MECH     50.0       50.0   50.0      50.0  22-01-2001
22        23       B    ECE     51.0       51.0   51.0      51.0  23-01-2001
23        24       C   MECH     52.0       52.0   52.0      52.0  24-01-2001
24        25       A   MECH     53.0        NaN    NaN      53.0  25-01-2001
25        26       A    ECE     54.0       33.0   33.0      54.0  26-01-2001
26        27       B     CS     55.0       34.0   34.0      55.0  27-01-2001
27        28       C     CS     56.0       35.0   35.0       NaN  28-01-2001
28        29       A     CS     57.0       36.0   36.0      66.0  29-01-2001
29        30       A     CS     58.0       37.0   37.0      43.0  30-01-2001

In [26]:
branch_grp = df.groupby(by=['Branch', 'Section'])
branch_grp

In [27]:
branch_grp.groups

{('CS', 'A'): [0, 4, 9, 12, 13, 28, 29], ('CS', 'B'): [6, 26], ('CS', 'C'): [11, 27], ('ECE', 'A'): [1, 5, 8, 25], ('ECE', 'B'): [10, 14, 18, 22], ('MECH', 'A'): [16, 17, 20, 21, 24], ('MECH', 'B'): [2], ('MECH', 'C'): [3, 19, 23], (nan, 'C'): [7, 15]}

In [28]:
for group , data_frame in branch_grp:
    print(group
          )
    print(data_frame)

('CS', 'A')
    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
0          1       A     CS     56.0       57.0   58.0      59.0  01-01-2001
4          5       A     CS     23.0       27.0   28.0      29.0  05-01-2001
9         10       A     CS     45.0       16.0   17.0      18.0  10-01-2001
12        13       A     CS     22.0       23.0   24.0      25.0  13-01-2001
13        14       A     CS     90.0        NaN    NaN      42.0  14-01-2001
28        29       A     CS     57.0       36.0   36.0      66.0  29-01-2001
29        30       A     CS     58.0       37.0   37.0      43.0  30-01-2001
('CS', 'B')
    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
6          7       B     CS     12.0       13.0   14.0      15.0  07-01-2001
26        27       B     CS     55.0       34.0   34.0      55.0  27-01-2001
('CS', 'C')
    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
11        12       C     CS     88.0        NaN   19.0      20.0  12-01-2001
27        28       C     CS     56.0       35.0   35.0       NaN  28-01-2001
('ECE', 'A')
    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
1          2       A    ECE     23.0       24.0   25.0      26.0  02-01-2001
5          6       A    ECE     90.0        NaN   29.0      30.0  06-01-2001
8          9       A    ECE      NaN       15.0   16.0      17.0  09-01-2001
25        26       A    ECE     54.0       33.0   33.0      54.0  26-01-2001
('ECE', 'B')
    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
10        11       B    ECE      NaN       17.0   18.0      19.0  11-01-2001
14        15       B    ECE      NaN       43.0   43.0      43.0  15-01-2001
18        19       B    ECE     47.0       47.0   47.0      47.0  19-01-2001
22        23       B    ECE     51.0       51.0   51.0      51.0  23-01-2001
('MECH', 'A')
    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
16        17       A   MECH     45.0       45.0   45.0      45.0  17-01-2001
17        18       A   MECH     46.0       46.0   46.0      46.0  18-01-2001
20        21       A   MECH     49.0       49.0   49.0      49.0  21-01-2001
21        22       A   MECH     50.0       50.0   50.0      50.0  22-01-2001
24        25       A   MECH     53.0        NaN    NaN      53.0  25-01-2001
('MECH', 'B')
   Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
2         3       B   MECH     89.0       25.0   26.0      27.0  03-01-2001
('MECH', 'C')
    Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
3          4       C   MECH     45.0       26.0   27.0      28.0  04-01-2001
19        20       C   MECH     48.0       48.0   48.0      48.0  20-01-2001
23        24       C   MECH     52.0       52.0   52.0      52.0  24-01-2001

merge function

In [29]:


# Sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'City': ['New York', 'Chicago', 'Los Angeles', 'Houston'],
    'Salary': [70000, 80000, 75000, 60000]
})

# Merge on common column 'ID'
merged_df = pd.merge(df1, df2, on='ID', how='inner')

# Display the result
print(merged_df)

   ID     Name  Age      City  Salary
0   3  Charlie   35  New York   70000
1   4    David   40   Chicago   80000